@charset "UTF-8";

body {
    min-height: 100vh;
    padding-bottom: 50px;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-secondary {
    background-color: rgb(72, 72, 245);
    border: blue;
}

.btn-secondary:hover {
    background-color: blue;
    border: blue;
}

#events-container {
    padding: 50px;
    justify-content: center;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: rgb(85, 84, 84);
    margin-left: 9px;
}

#events-container .events-title {
    margin-left: 9px;
}

#card-container {
    display: flex;
}

.card-title-city {
    font-size: 15px;
    padding-left: 5px;
    padding-top: 5px;
}

#events-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#events-container img {
    max-height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#event-create-container {
    padding: 50px;
    max-height: 60%;
}

footer {
    color: white;
    background-color: rgb(24, 24, 95);
    height: 50px;
    position: absolute;
    bottom: 0;
}

footer p {
    text-align: center;
    margin-bottom: 0;
}

.msg {
    text-align: center;
    background-color: rgb(112, 212, 112);
    width: 100%;
    padding: 10px;
}

#image-container,
#details-container {
    margin-top: 30px;
    max-width: 50%;
}

#image-container img{
    border-radius: 10px;
    min-width: 20%;
}

#show-container {
    max-width: 80%;
    margin-left: 16.5%;
}

#show-container p {
    margin: 0;
    font-size: 15px;
    display: flex;
    margin-top: 10px;
}

#show-container .btn {
    margin-top: 20px;
}